@use './variables' as v;

.feed-sidebar {
    max-width: 300px;
    @extend %block;
    filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.15));

    h3 {
        font-size: 1.5rem;
    }

    .counts {
        display: flex;
        justify-content: space-around;
        font-family: 'Space Grotesk';

        dd {
            font-size: 3rem;
            margin: 0 auto;
            text-align: center;
        }

        dt {
            color: v.$muted
        }
    }

    .join-today {
        border-bottom: 1px solid #211C2E;
        box-shadow: 0px 1px 0px #3d3454;
    }

    .join-today, .whats-hot {
        padding: 2rem 1.5rem 1.5rem;

        h3 {
            margin-top: 0;
            font-size: 1.3rem;
        }

        p {
            font-family: sans-serif;
            font-size: 0.9rem;
            font-weight: 300;
            line-height: 1.2rem;
        }

        .cool-btn {margin-top: 1.5rem;}

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                line-height: 1.5rem;

                a {
                    font-size: 0.9rem;
                    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
                    text-decoration: none;
                    color: #D64082;

                    &:hover {
                        text-decoration: underline;
                    }

                    span.counter-highlight {color: white;}
                }
            }
        }
    }

    .cool-btn {
        font-family: "Space Grotesk", sans-serif;
        border: none;
        font-size: 1rem;
        color: white;
        width: 100%;
        background: linear-gradient(71.56deg, #8474EA 19.94%, #FF264E 108.46%);
        display: block;
        border-radius: 30px;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        max-width: 18rem;
        margin: 0 auto;
        transition: var(--transition-time) all;
        font-weight: bold;

        // background: linear-gradient(
        //     to bottom left, 
        //     #e7346b, #7c67ff
        // );

        &:hover {
            filter: brightness(1.2) drop-shadow(2px 4px 6px black);
            // filter: blur(1px) drop-shadow(2px 4px 6px black);
        }
    }

}
