/* Flex Layout Styles */

.center-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.flex-layout {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.layout-nav {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 0 1rem;
    background: linear-gradient(180deg, #2C263D -1.78%, #2A2139 100%);
}

.layout-wrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.planetary {
    --transition-time: 0.6s;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;

    .feed-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 990px;
        align-content: center;
        align-self: center;
        align-items: flex-start;
    }

    h1 {
        a {
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }
}