.modal-options {
    position: absolute;
    top: 2.5rem;
    right: 1.9rem;
    background: transparent;
    text-align: center;
    // display: flex;
    justify-content: center;

    .options-close {
        position: absolute;
        top: -0.6rem;
        right: -0.5rem;
        cursor: pointer;
        width: 28px;
        height: 28px;
        background-color: #6C6085;
        border: none;
        border-radius: 28px;
        box-shadow:
            inset 0px 1px 0px rgba(32, 25, 44, 0.3),
            inset 0px 4px 20px rgba(0, 0, 0, 0.05);

        &:hover {
            background-color: #7a6c97;
        }

        i {
            font-size: 1.1rem;
            color: white;
            margin-top: 0.2rem;
        }
    }

    ul {
        background-color: #221B2E;
        list-style: none;
        padding: 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        border-radius: 14px;
        box-shadow: 0px 8px 15px #221b2ec0;

        li {
            padding: 0;

            button {
                background: none;
                padding: 1rem 1.2rem 1rem 1rem;
                font-size: 0.9rem;
                border: none;
                color: white;
                width: 100%;
                text-align: left;

                i {
                    margin-right: 0.7em;
                    font-size: 0.8rem;
                }

                &:hover {
                    cursor: pointer;
                    color: #e9346a;
                }
            }
        }
    }
}
