@use './variables' as v;

.pagination {
    max-width: 660px;
    min-width: 660px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 2rem;

    a {
        color: v.$pText;
        text-decoration: none;
        &:hover {
            color: white;
            text-decoration: underline;
        }
    }
}
