$pageMaxW: 660px;
$darker: #2a233b;
$medium: #271f34;
$mainColor: #16111f;
$highlight: #c33d79;
$muted: #6C6085;
$pText: #c0bdc5;;

%block {
    border-radius: 20px;
    background: linear-gradient(
        180deg,
        #322B45 -1.78%,
        #2C243D 100%,
    );
}
