@use './variables' as v;
@use './layout';
@use './feed';
@use './_markdown';
@use './feed-header';
@use './feed-sidebar';
@use './responsive';
@use './home';
@use './modal';
@use './z-index';
@use './single-msg';

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: v.$mainColor;
    color: white;
    margin: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont;

    h1, h2, h3 {
        font-family: 'Space Grotesk', sans-serif;
    }

    a {
        color: white;
    }

    button {
        cursor: pointer;
    }

    .err-message {
        font-size: 10vw;
        margin: 1rem;
        > div {
            font-size: initial;
        }
    }
}