@use './variables' as v;
@use './feed';
@use './feed-header';
@use './feed-sidebar';
@use './_responsive';
@use './home';

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: v.$mainColor;
    color: white;
    margin: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont;

    h1, h2, h3 {
        font-family: 'Space Grotesk', sans-serif;
    }

    a {
        color: white;
    }
}

button {
    cursor: pointer;
}

/* Flex Layout Styles */

.center-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.flex-layout {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.layout-nav {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 0 1rem;
    background: linear-gradient(180deg, #2C263D -1.78%, #2A2139 100%);
}

.layout-wrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.planetary {
    --transition-time: 0.6s;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;

    .feed-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 990px;
        align-content: center;
        align-self: center;
        align-items: flex-start;
    }

    h1 {
        a {
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .pl-block {
        background-color: v.$medium;
        padding: 1rem;
        border-radius: 14px;
        width: 100%;
        max-width: 26rem;
        margin: 0 auto;
        margin-top: 1rem;
    }

    .hot-hashtags {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 0.5rem;
            a {
                margin-right: 1rem;
                color: v.$highlight;
            }
        }
    }

    .form-controls {
        text-align: right;
    }

    .content-view {
        margin: 1rem;
    }
}