@use './variables' as v;
@use './layout';
@use './feed';
@use './feed-header';
@use './feed-sidebar';
@use './_responsive';

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: v.$mainColor;
    color: white;
    margin: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont;

    h1, h2, h3 {
        font-family: 'Space Grotesk', sans-serif;
    }

    a {
        color: white;
    }
}

button {
    cursor: pointer;
}